body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #f8b400;
  padding: 10px;
  text-align: center;
}

nav {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

nav > ul {
  list-style: none;
}

main {
  flex-grow: 1;
  padding: 20px;
  background-color: #eee;
}

footer {
  background-color: #444;
  color: white;
  padding: 10px;
  text-align: center;
}

